body{
    margin:0;
}

#game-container{
    position: fixed;
    outline: 2px solid red;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-window{
    position: relative;
    background-color: aqua;
    z-index: 1;
}

#game-scene{
    display: block;
    border: 5px solid rgb(72, 149, 1);
    background-image: url(grass_background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: repeat;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}



#score-display::before{
    content: "score: ";
    
}

#score-display{
    top: 3px;
    left: 5px;
    position: absolute;
    font-size: 1rem;
    font-family: monospace;
    color: rgb(255, 255, 255);
    z-index: 2;
    opacity: .7;
}

.game-menu{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#joystick{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    opacity: .7;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    visibility: hidden;
}

#joystick div{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

